<head>
    <script src ="../js/lib/angular.min.js" ></script>
    <script src ="../js/lib/angular-route.min.js" ></script>
    <!--routing is not a default feature of angularjs, library must be added-->
    <script src ="../js/lib/angular-animate.min.js" ></script>
    <script src="../js/controllers/registration.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<section ng-app="login" ng-controller="RegistrationController" class="title">
    <form name = "myForm"
        novalidate>
        <div class="div">
            <h1>Hi there!</h1>
            <p>Log-in to access the awesomeness!</p>
            <p>{{ myForm.email.$valid }}</p>
        </div>
        <fieldset>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true"><br>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        </fieldset>
        <br>
        <button type="submit" class="btn">Log-in</button>
        <p>or <a href="#/register">Register</p>
    </form>
</section>
